<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailybaro.content.anonymous.mapper.CommentMapper">

    <select id="getCommentsByPostId" resultType="com.dailybaro.content.anonymous.model.Comments">
        SELECT comment_id, post_id, user_id, content, create_time
        FROM post_comments
        WHERE post_id = #{postId}
        ORDER BY create_time ASC
    </select>

</mapper> 