server:
  port: 8012

spring:
  application:
    name: app-service
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

logging:
  level:
    com.dailybaro.app: debug

 